sqlite/stations.sqlite.2 filter=lfs diff=lfs merge=lfs -text
forestfire/201902070600_mp_hila_piirto.sqd filter=lfs diff=lfs merge=lfs -text
hbm/201407280657_hbm_hir_pinta.sqd filter=lfs diff=lfs merge=lfs -text
hirlam/201303180352_hirlam_eurooppa_pinta_cropped.sqd filter=lfs diff=lfs merge=lfs -text
towintertime/201210270251_pal_skandinavia_pinta.sqd filter=lfs diff=lfs merge=lfs -text
ecpainepinta/200809090714_ecmwf_skandinavia_painepinta240h.sqd filter=lfs diff=lfs merge=lfs -text
ecwwi/201608100700_ecmwf_eurooppa_wwi-prob.sqd filter=lfs diff=lfs merge=lfs -text
gfs/gfs.sqd filter=lfs diff=lfs merge=lfs -text
harmonie/201705110343_harmonie_hybrid-cropped.sqd filter=lfs diff=lfs merge=lfs -text
lot/lot7-fixed2.sqd filter=lfs diff=lfs merge=lfs -text
tutka_suomi_rr/201309101020_tutka_suomi_rr.sqd filter=lfs diff=lfs merge=lfs -text
tutka_suomi_rr/201309101025_tutka_suomi_rr.sqd filter=lfs diff=lfs merge=lfs -text
tutka_suomi_rr/201309101035_tutka_suomi_rr.sqd filter=lfs diff=lfs merge=lfs -text
tutka_suomi_rr/201309101030_tutka_suomi_rr.sqd filter=lfs diff=lfs merge=lfs -text
hirwind/201804060345_hirlam_eurooppa_pinta.sqd filter=lfs diff=lfs merge=lfs -text
kalman/201606282133_ecmwf_kalman_point.sqd filter=lfs diff=lfs merge=lfs -text
pal/200808050729_pal_skandinavia_pinta.sqd filter=lfs diff=lfs merge=lfs -text
pal/200808050933_pal_skandinavia_pinta.sqd filter=lfs diff=lfs merge=lfs -text
tosummertime/201203240143_pal_skandinavia_pinta.sqd filter=lfs diff=lfs merge=lfs -text
tutka_suomi_rr/201309101000_tutka_suomi_rr.sqd filter=lfs diff=lfs merge=lfs -text
wafs/201601191145_WAFS.sqd filter=lfs diff=lfs merge=lfs -text
climatepoints/201201010000_climate_suomi_pisteet.sqd filter=lfs diff=lfs merge=lfs -text
ecworld/201503131200_ecmwf_maailma_pinta.sqd filter=lfs diff=lfs merge=lfs -text
grassfire/201812120600_rp_maakunta_piirto.sqd filter=lfs diff=lfs merge=lfs -text
tutka_suomi_rr/201309101005_tutka_suomi_rr.sqd filter=lfs diff=lfs merge=lfs -text
tutka_suomi_rr/201309101010_tutka_suomi_rr.sqd filter=lfs diff=lfs merge=lfs -text
tutka_suomi_rr/201309101015_tutka_suomi_rr.sqd filter=lfs diff=lfs merge=lfs -text
ecwwi/201509100713_ecmwf_eurooppa_wwi.sqd filter=lfs diff=lfs merge=lfs -text
metcoop/metcoop.sqd filter=lfs diff=lfs merge=lfs -text
synop/200812051328_eurooppa_synop.sqd filter=lfs diff=lfs merge=lfs -text
weekly/201606141602_ecmwf_eurooppa_clim_weekly.sqd filter=lfs diff=lfs merge=lfs -text
climate/tmax.sqd filter=lfs diff=lfs merge=lfs -text
ecpinta/200808041930_ecmwf_eurooppa_pinta.sqd filter=lfs diff=lfs merge=lfs -text
ecpiste/200808041914_ecmwf_maailma_piste96h.sqd filter=lfs diff=lfs merge=lfs -text
enfuser/201808301242_helsinki_metropolitan-cropped.sqd filter=lfs diff=lfs merge=lfs -text
ground/201604140000_pal_skandinavia_maanpinta.sqd filter=lfs diff=lfs merge=lfs -text
luotaus/200812051310_havy_eurooppa_luotaus.sqd filter=lfs diff=lfs merge=lfs -text
eclocal/ecmwf.sqd filter=lfs diff=lfs merge=lfs -text
gem/gem.sqd filter=lfs diff=lfs merge=lfs -text
meps/meps.sqd filter=lfs diff=lfs merge=lfs -text
wrf/wrf.sqd filter=lfs diff=lfs merge=lfs -text
grib/hirlam/201303180352_hirlam_eurooppa_pinta_cropped.grib filter=lfs diff=lfs merge=lfs -text
grib/ecworld/201503131200_ecmwf_maailma_pinta.grib filter=lfs diff=lfs merge=lfs -text
grib/ecpainepinta/200809090714_ecmwf_skandinavia_painepinta240h.grib filter=lfs diff=lfs merge=lfs -text
grib/pal/200808050933_pal_skandinavia_pinta.grib filter=lfs diff=lfs merge=lfs -text
grib/pal/download/20130920T011300_20130917T010000_20130929T060000_pal_skandinavia_pinta.grib filter=lfs diff=lfs merge=lfs -text
grib/pal/download/20130920T123700_20130917T120000_20130929T180000_pal_skandinavia_pinta.grib filter=lfs diff=lfs merge=lfs -text
grib/pal/200808050729_pal_skandinavia_pinta.grib filter=lfs diff=lfs merge=lfs -text
